
nav {
    position: fixed;
    top: 0;
    background-color: #000;
    width: 100%;
    padding: 1rem 0; 
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start:unset;
    align-items: center;
}

nav a:active {
    color: red;
}

nav a:focus {
    border: 2px solid white;
}

#logo:focus{
    border: none;
}


nav a:hover{
    color: rgb(199, 199, 199);
} 

nav .logo {
    height: 40px;
    filter: invert(100%);
    margin-top: 15px;
}

nav .logo:hover {
    filter: invert(80%);
    padding-bottom: 0.2rem;
}

nav .nav-logo-left {
    margin-left: 7%;
}

nav .menu {
    height: 20px;
    filter: invert(100%);
    margin-top: 15px;
}

nav .menu:hover {
    filter: invert(80%);
    padding-bottom: 0.2rem;
}

nav .nav-menu-right {
    margin-right: 7%;
}

.menu-desktop {
    display: none;
}















/*=============================================================================================================
                    MENÜ FÜR DIE DESKTOP-ANSICHT - START
===============================================================================================================
*/

@media (min-width: 1080px){
    nav .logo {
        height: 35px;
        margin-top: 10px;
    }
    
    nav .menu {
        display: none;
        height: 24px;
        margin-top: 10px;
    }

    .menu-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-right: 7%;
    }
    
    .menu-desktop img {
        filter: invert(100%);
        height: 15px;
        vertical-align: middle;
    }

    .menu-desktop a {
        font-size: 2rem;
        color: #fff;
        margin-right: 4rem;
        text-decoration: none;
    }

    #current {
        text-decoration: underline;
    }
}