@import "../base.css";
@import "../variables.scss";
@import "../components/navigation.css";
@import url(../components/footer.css); 



/*=============================================================================================================
                    NAVIGATION
===============================================================================================================
*/



/*=============================================================================================================
                    HEADER-BILD
===============================================================================================================
*/
.hero-section{
    height: 50vh;
    width: 100%;
    border: 0px solid orange;
    background-image: url('../../images/FEND-Coffee-shop.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3);
}


/*=============================================================================================================
                    RÖSTEREI & CAFÉ - START
===============================================================================================================
*/
.roesterei-wrapper {
    margin: 6rem 7% auto 7%;
    display: flex;
    flex-direction: column;
}

.flex-wrapper h2, .p-roesterei {
    margin-bottom: 2rem;
}

.timetable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.img-store-cafe {
    width: 60%;
    margin: 40px 0 0 auto;
}

.gebaeck-h3 {
    line-height: 3.7rem;
    color: black;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.gebaeck-p {
 line-height: 1.8rem;
 color: black;
 width: 100%;   
}

/*=============================================================================================================
                    RÖSTEREI & CAFÉ - ENDE

                    BILDERGALERIE - START
===============================================================================================================
*/


.gallery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 110vh;
    width: 100%;
    padding: 10rem 7%;
}

.gallery-wrapper img {
    object-fit: cover;
    width: 48.5%;
}

.gallery-image-1,
.gallery-image-2,
.gallery-image-6,
.gallery-image-8 {
    height: 15.5%;
}

.gallery-image-3,
.gallery-image-4,
.gallery-image-5,
.gallery-image-7 {
    height: 31.5%;
}



.map h2{
    margin-bottom: 4rem;
    padding-left: 7%;
}

/*=============================================================================================================
                   FOOTER - START
===============================================================================================================
*/











@media (min-width: 1080px) {

    
/*=============================================================================================================
                    MENÜ FÜR DIE DESKTOP-ANSICHT - START
===============================================================================================================
*/

nav .logo {
    height: 35px;
    margin-top: 10px;
}

nav .menu {
    display: none;
    height: 24px;
    margin-top: 10px;
}

.menu-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-right: 7%;
}

.menu-desktop img {
    filter: invert(100%);
    height: 15px;
}

.menu-desktop a {
    font-size: 2rem;
    color: #fff;
    margin-right: 4rem;
    text-decoration: none;
}

/*=============================================================================================================
                MENÜ FÜR DIE DESKTOP-ANSICHT - ENDE
                

                RÖSTEREI & CAFÉ - START
===============================================================================================================
*/

.roesterei-wrapper {
    margin: 6rem 7% auto 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-wrapper {
        width: 46.5%;
    }
    
    .flex-wrapper h2, .p-roesterei {
        margin-bottom: 2rem;
    }
    
    .timetable{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    
    .img-store-cafe {
        width: 46.5%;
        margin: 0 0 0 auto;
    }
    
    .gebaeck-h3 {
        line-height: 3.7rem;
        color: black;
        margin-top: 6rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .gebaeck-p {
     line-height: 1.8rem;
     color: black;
     width: 90%;   
    }


    /*==========================================================================================================
                GALLERIE - START
===============================================================================================================
*/

    .gallery-wrapper {
        height: 65vh;
    }
    
    .gallery-wrapper img {
        object-fit: cover;
        width: 24%;
    }
    
    .gallery-image-1,
    .gallery-image-2,
    .gallery-image-6,
    .gallery-image-8 {
        height: 32%;
    }
    
    .gallery-image-3,
    .gallery-image-4,
    .gallery-image-5,
    .gallery-image-7 {
        height: 65%;
    }

    .gallery-image-1 {
        order: 1;
    }
    .gallery-image-2{
        order: 5;
    }
    .gallery-image-3{
        order: 6;
    }
    .gallery-image-4 {
        order: 2;
    }
    .gallery-image-5{
        order: 3;
    }
    .gallery-image-6{
        order: 8;
    }
    .gallery-image-7{
        order: 7;
    }
    .gallery-image-8{
        order: 4;
    }
    
    

}