@import "../base.css";
@import "../variables.scss";
@import "../components/navigation.css";
@import "../components/footer.css"; 

h1, h2 {
    margin-bottom: 3rem;
}

nav {
    filter: invert(100%);
    padding-bottom: 20rem;
}

.first--article {
    display: inline-block;
    margin-top: 15rem;
}

.content-wrapper {
    margin: 0 7%;
    max-width: 65rem;
}

article {
    margin-block-end: 3rem;
    
    & li {
        list-style: inside;
        line-height: 200%;
    }
    &:last-child {
        margin-bottom: 15rem;
    }
}


@media (min-width: 850px) {
    .content-wrapper {
    margin: 0 auto;
    max-width: 65rem;
}
}