@import "base.css";
@import "variables.scss";
@import "components/navigation.css";
@import url(components/footer.css); 

body{
    padding: 0 7%;
}
nav {
    filter: invert(100%);
}

.stickyfix {
    height: 3rem;
}


.flexbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.h1--main {
    width: 100%;
}


fieldset, input, button, label, textarea {
    all: unset;
}

.fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-color: black;
    max-width: 500px;
    margin-block-start: 5rem;
}

label {
   &:nth-child(7) {
    margin-bottom: 4rem;
   } 
}



.formular--input {
    border-bottom: 0.2rem solid $color-anthrazit;
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    height: 4rem;
    text-indent: 20px;

    &:hover {
        background-color: $color-grey-light;
    }
}

.formular--textfield {
    height: 10rem;
}


#telefon {
    background-color:rgb(246, 143, 143);
    &::placeholder {
        color: rgb(229, 37, 37);
    }
}


@media (min-width: 900px) {
    .h1--main {
        width: 36%;
    }
}