@import "../base.scss";
@import "../variables.scss";
@import "../components/navigation-black.css";
@import url(../components/footer.css); 





.product-picture{
    width: 50vw;
    height: 50%;

}


.product-description {
    margin-top: 10rem;
}