    <footer class="footer-wrapper">
        <a href="../index.html" class="footer-logo"><img src="../images/logo.svg" class="footer-logo" alt="Unser Logo"
                title="Unser Logo"></a>
        <div class="footer-cafe-name">
            <h3 class="footer-h3">Rustica</h3>
            <h4 class="footer-h4">Café & Rösterei</h4>
        </div>
        <section class="kontakt-daten">
            <div class="kontakt-spalte1">
                <p>Komm uns besuchen!</p>
                <p>Frauenhoferstr. 13, Kiel</p>
            </div>
            <div class="kontakt-spalte2">
                <p>Mo – Fr 8 – 18 Uhr </p>
                <p>Sa 11 – 18 Uhr</p>
            </div>
        </section>

        <section class="footer-menu">
            <div class="footer-menu-left">
                <p><a href="../impressum-sub-page/index.html" aria-label="Zum Impressum">Impressum</a></p>
                <p><a href="#" aria-label="Zum Datenschutz">Datenschutz</a></p>
            </div>
            <div class="footer-menu-right">
                <p><a href="../cafe-sub-page/index.html" aria-label="Infos zum Café">Café </a></p>
                <p><a href="#" aria-label="Zum Shop">Shop</a></p>
                <p><a href="../ursprung-sub-page/index.html" aria-label="Herkunft des Kaffee's">Herkunft</a></p>
            </div>
        </section>


    </footer>