@import "../variables.scss";

*{
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-rem-to-10-px;
}

body{
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: $font-weight-bold;
  line-height: 90%;
  letter-spacing: 0;
  text-decoration: none;
}

h1{
  font-size: $font-size-h1;
  margin-bottom: 5px;
}
h2{
  font-size: $font-size-h2;
}
h3{
  font-size: $font-size-h3;
}
h4{
  font-size: $font-size-h4;
  font-weight: 400;
}
p{
  font-size: $font-size-p;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  text-decoration: none;
  line-height: 140%;
}



/* VON ERIC PER DEFAULT



body {
  background: grey;

  @media (min-width: 768px) {
    color: red;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}

*/