//colors//
$color-white: #FFF;
$color-anthrazit: #1A1A1A;
$color-beige: #D7BE9D;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-orange:rgba(215,124,18,1);
$color-grey:rgba(115,115,115,1);
$color-grey-light: rgba(233,233,233,1);