//colors//
$color-white: #FFF;
$color-anthrazit: #1A1A1A;
$color-beige: #D7BE9D;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-orange:rgba(215,124,18,1);
$color-grey:rgba(115,115,115,1);
$color-grey-light: rgba(233,233,233,1);


//FONTS - TYPOGRAPHY // 
$font-rem-to-10-px: 62.5%;

$font-weight-regular: 400;
$font-weight-bold: 900;

$font-size-h1: 6.4rem;
$font-size-h2: 3.6rem;
$font-size-h3: 3.2rem;
$font-size-h4: 1.8rem;
$font-size-p: 1.4rem;
